<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${env.MAVENCENTRAL_USERNAME}</username>
            <password>${env.MAVENCENTRAL_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>sonar</id>
            <properties>
                <sonar.host.url>https://sonarcloud.io</sonar.host.url>
                <sonar.organization>${env.SONARCLOUD_ORG}</sonar.organization>
                <sonar.token>${env.SONAR_TOKEN}</sonar.token>
                <sonar.projectKey>org.rrd4j:rrd4j</sonar.projectKey>
            </properties>
        </profile>
        <profile>
            <id>skip</id>
            <properties>
                <maven.resources.skip>true</maven.resources.skip>
                <maven.main.skip>true</maven.main.skip>
            </properties>
        </profile>
    </profiles>
</settings>
